.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  max-height: 600px;  /* Restrict the form's height */
  overflow-y: auto;  /* Add scroll bar if content overflows */
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.title::after {
  animation: pulse 1s linear infinite;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.form label {
  position: relative;
}

.form-control {
  background-color: #333;
  color: #fff;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
  color: #00bfff;
  top: 0.5rem;
  font-size: 0.75rem;
}

.form-floating>.form-control:placeholder-shown~label {
  top: 1rem;
  font-size: 1rem;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: background-color .3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .form {
    max-width: 400px;
    max-height: 600px;  /* Restrict the form's height on larger screens */
  }
}
